// 颜色定义规范
$color-background = #ffffff           //背景色
$color-theme = #595BB3                //主题颜色
$color-header = #ec5858               //头部颜色
$color-body = #fd8c04               //身体颜色
$color-font = #060930             //字体颜色
$color-font-active = #214252            //选中字体颜色
$color-font-default = #7e7474             //默认字体颜色



//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

//高度定义规范
$header-title-height = 45px
$header-footer-height = 50px
$header-input-height = 44px

//宽度定义规范
$card-theme-margin = 10px  //卡片式布局间隙

